<div class="quizz_container">
  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="" />
    <p>🤔 {{ title }}</p>
  </div>

  <br />
  @if (!finished) {
    <div class="quizz_questions">
      <h3>{{ questionSelected.question }}</h3>
    </div>
  }

  <br />
  @if (!finished) {
    <div class="quizz_options">
      @for (option of questionSelected.options; track $index) {
        <button class="btn_option" (click)="playerChoose(option.alias)">{{ option.name }}</button>
      }
    </div>
  }

  @if (finished) {
    <div class="quizz_results">
      <h1>Seu resultado é:</h1>
      <p>🎉 {{ answersSelected }}</p>
    </div>
  }
</div>
