.quizz_container {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  p {
    font-size: 17pt;
    margin: 25px 0px;
  }
}

.quizz_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4224d9;
  border-radius: 8px;
  background-color: #644ed2;
  width: 70%;
  margin: auto;
  height: 200px;
  font-size: 23px;
  font-family: "Segoe UI";
  margin-bottom: 20px;
}

.quizz_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  margin-bottom: 20px;

  .btn_option {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18ab29;
    width: 40%;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 16px 31px;
    text-decoration: none;
  }

  .btn_option:hover {
    background-color: #52ac25;
  }

  .btn_option:active {
    position: relative;
    top: 1px;
  }
}

.quizz_results {
  width: 60%;
  height: 350px;
  margin: auto;
  background-color: #1f0539;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 10px;
    font-size: 17pt;
  }
}
